***series***

In [75]:
import pandas as pd
import numpy as np

In [76]:
x =[1,2,3,4]
s =pd.Series(x ,index= ("a","b","c","d"),dtype="f")

s[3]=5
print(s,type(s))

a    1.0
b    2.0
c    3.0
d    5.0
dtype: float32 <class 'pandas.core.series.Series'>

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_8756\1437818636.py:4: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  s[3]=5

In [77]:
dic = {"name" : "bayezid",
       "age" : 25,
       "sub" : ["py","numpy","pandas"]
       }
intro = pd.Series(dic)
intro

name                bayezid
age                      25
sub     [py, numpy, pandas]
dtype: object

In [78]:
single_Value = pd.Series(25, index = (1,2,3,4,5))
single_Value

1    25
2    25
3    25
4    25
5    25
dtype: int64

In [79]:
x1 =[1,2,3,4,5]
s1 =pd.Series(x1 ,index= ("a","b","c","d","e"),dtype="f")
x2 =[1,2,3,4,5,6]
s2 =pd.Series(x2 ,index= ("a","b","c","d","e","f"))

addition = s1+s2
addition

a     2.0
b     4.0
c     6.0
d     8.0
e    10.0
f     NaN
dtype: float64

******

***Dataframe***

In [80]:
lst = pd.DataFrame ([1,2,3,4,5])
print(lst,type(lst))

   0
0  1
1  2
2  3
3  4
4  5 <class 'pandas.core.frame.DataFrame'>

In [81]:
dic = {"a":[1,2,3,4,5],"b":[1,2,3,4,5],"c":[1,2,3,4,5]}
dict = pd.DataFrame(dic,columns=["a","b","c"],index=[1,2,3,4,5])
print(dict,type(dict))
print(dic ["a"][3])

   a  b  c
1  1  1  1
2  2  2  2
3  3  3  3
4  4  4  4
5  5  5  5 <class 'pandas.core.frame.DataFrame'>
4

In [82]:
series_1 = pd.Series([1,2,3,4,5])
series_2 = pd.Series([6,7,8,9,10])
s_r = {"series_1" : series_1,"series_2":series_2} 
s_dataframe=pd.DataFrame(s_r)
s_dataframe

   series_1  series_2
0         1         6
1         2         7
2         3         8
3         4         9
4         5        10

In [83]:
s_dataframe["sum"] = pd.DataFrame(series_1+series_2)
s_dataframe

   series_1  series_2  sum
0         1         6    7
1         2         7    9
2         3         8   11
3         4         9   13
4         5        10   15

In [84]:
s_dataframe ["condition"] = s_dataframe["sum"] >= 10
s_dataframe

   series_1  series_2  sum  condition
0         1         6    7      False
1         2         7    9      False
2         3         8   11       True
3         4         9   13       True
4         5        10   15       True

In [85]:
s_dataframe.insert(4,"panda10",(s_dataframe["sum"]+10))
s_dataframe
s_dataframe.insert(2,"lst",[1,2,3,4,55])
s_dataframe

   series_1  series_2  lst  sum  condition  panda10
0         1         6    1    7      False       17
1         2         7    2    9      False       19
2         3         8    3   11       True       21
3         4         9    4   13       True       23
4         5        10   55   15       True       25

In [86]:
panda = s_dataframe.pop("panda10")
panda

0    17
1    19
2    21
3    23
4    25
Name: panda10, dtype: int64

In [87]:
s_dataframe

   series_1  series_2  lst  sum  condition
0         1         6    1    7      False
1         2         7    2    9      False
2         3         8    3   11       True
3         4         9    4   13       True
4         5        10   55   15       True

In [88]:
s_dataframe.insert(2,"panda",panda)
s_dataframe

   series_1  series_2  panda  lst  sum  condition
0         1         6     17    1    7      False
1         2         7     19    2    9      False
2         3         8     21    3   11       True
3         4         9     23    4   13       True
4         5        10     25   55   15       True

In [93]:
s_dataframe.to_csv("files/test.csv",index = False , header= (["a","b","c","d","e","f"]))
s_dataframe

   series_1  series_2  panda  lst  sum  condition
0         1         6     17    1    7      False
1         2         7     19    2    9      False
2         3         8     21    3   11       True
3         4         9     23    4   13       True
4         5        10     25   55   15       True

In [95]:
data=pd.read_csv("files/test.csv").head(4)
data

   a  b   c  d   e      f
0  1  6  17  1   7  False
1  2  7  19  2   9  False
2  3  8  21  3  11   True
3  4  9  23  4  13   True

In [ ]:
row = pd.read_csv("test.csv",nrows=1)
row

   a  b  c  d      e
0  1  6  1  7  False

In [103]:
col = pd.read_csv("files/test.csv",usecols=(1,3))
print(col)

    b   d
0   6   1
1   7   2
2   8   3
3   9   4
4  10  55

In [104]:
col1= pd.read_csv("files/test.csv",usecols=["a","b"],dtype={"a":"f","b":"f"})
col1

     a     b
0  1.0   6.0
1  2.0   7.0
2  3.0   8.0
3  4.0   9.0
4  5.0  10.0

In [105]:
skip = pd.read_csv("files/test.csv",skip_blank_lines=True)
print(skip)
skip1 = pd.read_csv("files/test.csv",skiprows=2)
print(skip1)
skip3 = pd.read_csv("files/test.csv",skipfooter=1)
print(skip3)

   a   b   c   d   e      f
0  1   6  17   1   7  False
1  2   7  19   2   9  False
2  3   8  21   3  11   True
3  4   9  23   4  13   True
4  5  10  25  55  15   True
   2   7  19  2.1   9  False
0  3   8  21    3  11   True
1  4   9  23    4  13   True
2  5  10  25   55  15   True
   a  b   c  d   e      f
0  1  6  17  1   7  False
1  2  7  19  2   9  False
2  3  8  21  3  11   True
3  4  9  23  4  13   True

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_8756\1820920385.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  skip3 = pd.read_csv("files/test.csv",skipfooter=1)

In [106]:
idx_col = pd.read_csv("files/test.csv",index_col="a")
idx_col

    b   c   d   e      f
a
1   6  17   1   7  False
2   7  19   2   9  False
3   8  21   3  11   True
4   9  23   4  13   True
5  10  25  55  15   True

In [107]:
headr = pd.read_csv("files/test.csv",header=1)
print(headr,"\n")
headr1 = pd.read_csv("files/test.csv",header=None,names= ("col1","col2","col3","col4","col5"))
print(headr1)

   1   6  17  1.1   7  False
0  2   7  19    2   9  False
1  3   8  21    3  11   True
2  4   9  23    4  13   True
3  5  10  25   55  15   True

  col1 col2 col3 col4   col5
a    b    c    d    e      f
1    6   17    1    7  False
2    7   19    2    9  False
3    8   21    3   11   True
4    9   23    4   13   True
5   10   25   55   15   True

# Notes 

## Series Functions

- **pd.Series()**
    - Creates a Pandas Series from a list, dictionary, or scalar value.
    - Supports custom indices and data types.


## DataFrame Functions

- **pd.DataFrame()**
    - Constructs a DataFrame from lists, dictionaries, or Series objects.
    - Allows specification of columns and indices.

- **insert()**
    - Adds a new column at a specified position in the DataFrame.

- **pop()**
    - Removes and returns a specified column from the DataFrame.

## File I/O Functions

- **to_csv()**
    - Exports a DataFrame to a CSV file.
    - Supports options for including/excluding headers and indices.

- **pd.read_csv()**
    - Reads data from a CSV file into a DataFrame.
    - Options used:
        - `head(n)`: Returns the first `n` rows.
        - `nrows`: Reads a specified number of rows.
        - `usecols`: Reads only specified columns.
        - `dtype`: Sets data types for columns.
        - `skip_blank_lines`: Skips blank lines while reading.
        - `skiprows`: Skips a specified number of rows at the start.
        - `skipfooter`: Skips a specified number of rows at the end.
        - `index_col`: Sets a column as the index.
        - `header`: Specifies the row to use as column names.
        - `names`: Sets custom column names.

## Data Selection and Manipulation

- **[] (Indexing)**
    - Used for selecting and assigning values in Series and DataFrames.

- **Arithmetic Operators (+, >=)**
    - Performs element-wise operations between Series or DataFrame columns.

---

This summary provides a quick reference to the built-in Pandas and Python functions used throughout the notebook, along with their primary purposes.