In [127]:
import numpy as np
import pandas as pd

In [128]:
csv1 = pd.read_csv("files\customers.csv").head()
csv1

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,NaN,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,NaN,+1-539-402-0259,NaN,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4.0,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,NaN,001-808-617-6467x12895,NaN,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,NaN,053d585Ab6b3159,Joanna,NaN,"Lang and Andrade""",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,NaN,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [129]:
print(csv1.columns)
print(csv1.columns[:3])

Index(['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'City',
       'Country', 'Phone 1', 'Phone 2', 'Email', 'Subscription Date',
       'Website'],
      dtype='object')
Index(['Index', 'Customer Id', 'First Name'], dtype='object')

In [130]:
info = csv1.describe()
info

         Index
count  2.00000
mean   2.50000
std    2.12132
min    1.00000
25%    1.75000
50%    2.50000
75%    3.25000
max    4.00000

In [131]:
info[1:-6]

      Index
mean    2.5

In [132]:
print(info.index.array)

<NumpyExtensionArray>
['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max']
Length: 8, dtype: object

In [133]:
info.to_numpy()

array([[2.        ],
       [2.5       ],
       [2.12132034],
       [1.        ],
       [1.75      ],
       [2.5       ],
       [3.25      ],
       [4.        ]])

In [134]:
bla = np.array(info)
print(bla )
blabla = np.asarray(info)
print(blabla)

[[2.        ]
 [2.5       ]
 [2.12132034]
 [1.        ]
 [1.75      ]
 [2.5       ]
 [3.25      ]
 [4.        ]]
[[2.        ]
 [2.5       ]
 [2.12132034]
 [1.        ]
 [1.75      ]
 [2.5       ]
 [3.25      ]
 [4.        ]]

In [135]:
# csv1.sort_values("Country",axis=0,ascending=False).head()
csv1.sort_index(axis=0,ascending=False).head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
4,NaN,053d585Ab6b3159,Joanna,NaN,"Lang and Andrade""",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,NaN,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
3,4.0,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,NaN,001-808-617-6467x12895,NaN,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
2,NaN,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,NaN,+1-539-402-0259,NaN,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,NaN,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/

In [136]:
csv1["City"][2]= "sylhet"
csv1

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_9620\3296206201.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  csv1["City"][2]= "sylhet"

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,NaN,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,sylhet,NaN,+1-539-402-0259,NaN,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4.0,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,NaN,001-808-617-6467x12895,NaN,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,NaN,053d585Ab6b3159,Joanna,NaN,"Lang and Andrade""",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,NaN,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

Loc & ilock

In [137]:
csv1.loc[0,"City"]= "sylhet"
csv1.head(4)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1.0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,sylhet,NaN,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,sylhet,NaN,+1-539-402-0259,NaN,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4.0,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,NaN,001-808-617-6467x12895,NaN,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/

In [138]:
# csv1.loc [2:4,"First Name":"Company"]

# csv1.loc[:5,["City","Company"]]

# csv1.loc[:5,:]

csv1.iloc[0,5]

'sylhet'

In [139]:
# csv1.drop(0, axis=1)
csv1.drop("Index", axis=1,inplace=True)
csv1

,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,sylhet,NaN,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,sylhet,NaN,+1-539-402-0259,NaN,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,NaN,001-808-617-6467x12895,NaN,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,053d585Ab6b3159,Joanna,NaN,"Lang and Andrade""",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,NaN,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

***dropna & fillna***

In [140]:
# csv1.dropna(axis=0)
# csv1.dropna(axis=1)

In [141]:
# csv1.dropna(how = "any")
csv1.dropna(how = "all")

,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,sylhet,NaN,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
2,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,sylhet,NaN,+1-539-402-0259,NaN,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,NaN,001-808-617-6467x12895,NaN,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,053d585Ab6b3159,Joanna,NaN,"Lang and Andrade""",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,NaN,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [142]:
# csv1.dropna(inplace=True)
csv1.dropna(thresh=1)

,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,sylhet,NaN,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
2,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,sylhet,NaN,+1-539-402-0259,NaN,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,NaN,001-808-617-6467x12895,NaN,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,053d585Ab6b3159,Joanna,NaN,"Lang and Andrade""",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,NaN,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [143]:
csv1.fillna({"Country": "Bangladesh"})

,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,sylhet,Bangladesh,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,NaN,NaN,NaN,NaN,NaN,Bangladesh,NaN,NaN,NaN,NaN,NaN
2,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,sylhet,Bangladesh,+1-539-402-0259,NaN,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Bangladesh,001-808-617-6467x12895,NaN,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,053d585Ab6b3159,Joanna,NaN,"Lang and Andrade""",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,NaN,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [144]:
# csv1.fillna(method="bfill",axis =0)
csv1.fillna(method="ffill")

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_9620\3541729179.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  csv1.fillna(method="ffill")

,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,sylhet,NaN,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,sylhet,NaN,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
2,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,sylhet,NaN,+1-539-402-0259,397.884.0519x718,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,NaN,001-808-617-6467x12895,397.884.0519x718,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,053d585Ab6b3159,Joanna,Olsen,"Lang and Andrade""",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,397.884.0519x718,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [145]:
csv1.fillna("python",limit=2)

,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,sylhet,python,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,python,python,python,python,python,python,python,python,python,python,python
2,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,sylhet,NaN,+1-539-402-0259,python,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,NaN,001-808-617-6467x12895,NaN,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,053d585Ab6b3159,Joanna,python,"Lang and Andrade""",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,NaN,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

***replace***

In [146]:
csv2 = pd.read_csv("files/test.csv")

# csv2.replace(to_replace= 1, value=5) 

# csv2.replace([1,2,3,4,5],6)

# csv2.replace([1,2,3,4,5],4,regex=True)

# csv2.replace({"a":[1,2,3,]},7,regex=True)

csv2.replace([6,7,8],method="bfill",limit=3,inplace=True)
print(csv2)

   a   b   c   d   e      f
0  1   9  17   1   9  False
1  2   9  19   2   9  False
2  3   9  21   3  11   True
3  4   9  23   4  13   True
4  5  10  25  55  15   True

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_9620\4162937792.py:11: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  csv2.replace([6,7,8],method="bfill",limit=3,inplace=True)

***Interpolate***

In [148]:
# only works with int

# csv1.interpolate(method="ffill",axis=0,limit=3)
# csv1.interpolate(limit_direction="both" ,axis=0)
# csv1.interpolate(limit_area= "outside")

## Notes 

This notebook demonstrates various built-in pandas  functions for data manipulation and cleaning. Below is an organized summary of the key functions and their purposes:

---

### **1. Data Import and Display**
- **`pd.read_csv()`**  
    Reads a CSV file into a DataFrame.

- **`.head()`**  
    Displays the first n rows of the DataFrame (default is 5).


---

### **2. Data Inspection**
- **`.columns`**  
    Returns the column labels of the DataFrame.

- **`.describe()`**  
    Generates descriptive statistics of the DataFrame.

- **`.index.array`**  
    Returns the index as an array.

- **`.to_numpy()`**  
    Converts the DataFrame to a NumPy array.

- **`np.array()` / `np.asarray()`**  
    Converts input data to a NumPy array.

---

### **3. Sorting and Indexing**
- **`.sort_index()`**  
    Sorts the DataFrame by its index.

- **`.sort_values()`** *(commented)*  
    Sorts the DataFrame by the values of one or more columns.

---

### **4. Data Selection and Assignment**
- **`.loc[]`**  
    Accesses a group of rows and columns by labels or boolean array.

- **`.iloc[]`**  
    Accesses rows and columns by integer position.

---

### **5. Data Modification**
- **`.drop()`**  
    Removes specified labels from rows or columns.

---

### **6. Handling Missing Data**
- **`.dropna()`**  
    Removes missing values by row or column.

- **`.fillna()`**  
    Fills NA/NaN values using a specified method or value.

- **`.interpolate()`**  
    Fills NA values using interpolation.

---

### **7. Data Replacement**
- **`.replace()`**  
    Replaces values given in to_replace with value.

---

### **Summary Table**

| Function                | Purpose                                      |
|-------------------------|----------------------------------------------|
| `pd.read_csv()`         | Read CSV file into DataFrame                 |
| `.head()`               | Show first n rows                            |
| `print()`               | Print output                                 |
| `.columns`              | Get DataFrame columns                        |
| `.describe()`           | Summary statistics                           |
| `.index.array`          | Get index as array                           |
| `.to_numpy()`           | DataFrame to NumPy array                     |
| `np.array()`/`asarray()`| Convert to NumPy array                       |
| `.sort_index()`         | Sort by index                                |
| `.loc[]`/`.iloc[]`      | Select by label/position                     |
| `.drop()`               | Remove rows/columns                          |
| `.dropna()`             | Remove missing data                          |
| `.fillna()`             | Fill missing data                            |
| `.interpolate()`        | Interpolate missing data                     |
| `.replace()`            | Replace values                               |

---

These functions are essential for efficient data analysis and preprocessing in pandas and numpy.